#Игнорировать конкретный файл:
api_key.txt
#Игнорировать все файлы с определённым расширением:
*.log
#Игнорировать целый каталог и его содержимое:(обратите внимание на косую черту в конце).
build/
managed_components/
LovyanGFX/
#*   **Использовать символы подстановки:** `file?.txt` (будет соответствовать `file1.txt`, `file2.txt` и т.д.).
#*   **Отменить действие шаблона:** поставьте восклицательный знак перед шаблоном, например `!important.txt`.

